{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
  This is the shopping cart page. Proceed to review the items and place your order.
{% endblock %}
{% block title %}
  Cart - Perfect Cushion Store
{% endblock %}
{% block content %}
  {% if not cart_items %}
    <div>
      <div class="text-center">
        <br>
        <h1 class="text-center my_title">
          Your shopping cart is empty
        </h1>
        <br>
        <p class="text-center">
          Please click <a href="{% url 'shop:allProdCat' %}">here</a> to continue shopping.
        </p>
      </div>
    </div>
  {% else %}
    <div>
      <div class="text-center">
        <br>
        <h1 class="text-center my_title">
          Your shopping cart
        </h1>
        <br>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
          <thead class="my_custom_thead">
            <tr>
              <th colspan="5">
                Your Items
              </th>
            </tr>
          </thead>
          <tbody>
            {% for cart_item in cart_items %}
              <tr>
                <td>
                  <a href="cart_item.product.get_absolute_url">
                    <img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom_image">
                  </a>
                </td>
                <td class="text-left">
                  {{cart_item.product.name}}
                  <br>
                  SKU: {{cart_item.product.id}}
                  <br>
                  Unit Price: ${{cart_item.product.price}}
                  <br>
                  Qty: {{cart_item.quantity}} x ${{cart_item.product.price}}
                </td>
                <td>
                  ${{cart_item.sub_total}}
                </td>
                {% if cart_item.quantity < cart_item.product.stock %}
                  <td>
                    <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a">
                      <i class="fas fa-plus-circle custom_icon"></i>
                    </a>
                    &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a">
                      <i class="fas fa-minus-circle custom_icon"></i>
                    </a>
                    &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon">
                      <i class="fas fa-trash-alt custom_icon"></i>
                    </a>
                  </td>
                {% else %}
                  <td>
                    &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a">
                      <i class="fas fa-minus-circle custom_icon"></i>
                    </a>
                    &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon">
                      <i class="fas fa-trash-alt custom_icon"></i>
                    </a>
                  </td>
                  <td></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
          <thead class="my_custom_thead">
            <tr>
              <th>
                Checkout
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Please review your shopping cart items before proceeding with the oreder payment.
              </td>
            </tr>
            <tr>
              <td class="text-left">
                Your total is: <strong>${{total}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mx-auto">
          <form action="" method="POST">
            {% csrf_token %}
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{data_key}}"
              data-amount="{{stripe_total}}"
              data-name="Cushion Shop"
              data-description="{{description}}"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto"
              data-currency="MXN"
              data-shipping-address="true"
              data-billing-address="true"
              data-zip-code="true">
            </script>
          </form>
          <a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shopping</a>
        </div>
      </div>
    </div>
    <br>
  {% endif %}
{% endblock%}
