{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
  {% if category %}
    {{ category.description|truncatewords:155 }}
  {% else %}
    Welcome to the cushion store where you can buy comfy and awesome cushions.
  {% endif %}
{% endblock %}
{% block title %}
  {% if category %}
    {{ category.name }} - Perfect Cushion Store
  {% else %}
    See our Cushion Collection - Perfect Cushion Store
  {% endif %}
{% endblock %}
{% block content %}
  <!-- Breadcrumb navigation-->
  {% if category %}
    <div class="row my_row_class">
      <div class="mx-auto">
        <P><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{ category.name }}</p>
      </div>
    </div>
  {% endif %}
    <div class="mx-auto">
      {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{ category.name }}">
    </div>
      <br>
      <div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{ category.description }}</p>
      </div>
      {% else %}
      <img class="my_image my_image_padding" src="{% static 'img/banner.jpg' %}" alt="Our Products Collection">
      </div>
      <br>
      <div>
        <h1 class="text-center my_title">Our Product Collection</h1>
        <p class="text-justify">Finding the perfect cushion for your room can instantly add to the levels of comfort and sense of style troughout your home. They
        can transform the balndest of decors instantly by adding colour, softness and an air of cosiness. As well as beign comfy and looking great our range
        of cushions will certainly embolden your decor with personalised charm.</p>
      </div>
      {% endif %}
      <div class="container">
        <div class="row mx-auto">
          {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
              <div class="card text-center" style="min-width: 18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{ product.name }}"></a>
                  <div class="card-body">
                    <h4>{{ product.name}}</h4>
                    <p>{{ product.price }}</p>
                  </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="mx-auto">
          {% if products.paginator.num_pages > 1 %}
            <br>
            <div class="text-center">
              {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <br>
      </div>
{% endblock %}
